@{
    ViewBag.Title = "IE Service Directory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!--=== End Slider ===-->
<!--=== Content Part ===-->
<div class="container content">
    @*<div class="clearfix margin-bottom-40"></div>
        <div class="title-box">
            <div class="title-box-text">"We all want good health but sometimes things get in the way"</div>

            <small>CEO, Harry Majewski</small>
        </div>*@

    <div class="row margin-bottom-20">
        <!-- Welcome Block -->
        <div class="col-md-12 md-margin-bottom-40">
            <div class="headline">
                <h2>Welcome to the Internal Service Directory</h2>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <img alt="" src="assets/img/new/img11.jpg" class="img-responsive margin-bottom-20">
                </div>
                <div class="col-sm-8">
                    <p>We aspire to be an integrated health service. This internal service provider allows clinicians to find services for clients or patients. </p>
                    <p>To begin click <a href="@Url.Content("~/Services")">Find a Service</a></p>
                </div>
            </div>
        </div>

    </div>

    <div class="clearfix margin-bottom-30"></div>
    @*<div class="shadow-wrapper">
            <div class="tag-box tag-box-v1 box-shadow shadow-effect-2">

                <p>
                    Currently we're a pilot scheme in Boroondara and are aiming to go national in the future. The Club's philosophy is that good health can be achieved by participating in activities that look after our physical, mental and social health and well-being.
                    We want organisations who run healthy activities in Boroondara to list them with with on our website. It is free to be part of the Club and you can promote your activity, increase your member enrolments and produced customised reports and timetables.
                </p>
            </div>
        </div>*@
</div>
<!--/container-->
<!-- End Our Clients -->