@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "IE Service Directory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container content">
    <div class="row margin-bottom-20">
        <!-- Welcome Block -->
        <div class="col-md-12 md-margin-bottom-40">
            @{
                var page = new ISD.Data.EDM.ISDEntities().Page.Where(x => x.Name == "Home").FirstOrDefault();
                if (page == null)
                {
                    <div class="headline">
                        <h2>Welcome to the Internal Service Directory</h2>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <img alt="" src="assets/img/new/img11.jpg" class="img-responsive margin-bottom-20">
                        </div>
                        <div class="col-sm-8">
                            <p>This page is for organisations who are interested in being part of the service directory or are already registered as a Service Provider.</p>
                            <ul class="list-unstyled margin-bottom-20">
                                <li><i class="fa fa-check color-green"></i>List services provider by your organisation</li>
                                <li><i class="fa fa-check color-green"></i>Manage clinicians for your services</li>
                                <li><i class="fa fa-check color-green"></i>Powerful reporting tools for organisation</li>
                            </ul>
                        </div>
                    </div>
                }
                else
                {
                    @Html.Raw(page.PageContent)
                }
            }
        </div>
    </div>
    <div class="clearfix margin-bottom-30"></div>

</div>
<!--/container-->
<!-- End Our Clients -->